{% extends "base.html.twig" %}

{% block title %}Full Stack Test{% endblock %}

{% block body %}
  {% include "promo.html.twig" %}
  {% include "nav.html.twig" %}

  <div class="border-bottom">
    <div class="container my-5">
      <div class="row">
        <div class="col-6">
          <h2>PHP Hosting</h2>
          <p class="text-secondary font24">Cepat, handal, penuh dengan modul PHP yang Anda butuhkan</p>
          {% for text in textsPHPHosting %}
            <div class="d-flex justify-content-left align-items-center mb-2">
              <i class="bi bi-check-circle-fill text-success"></i>
              <small class="text-secondary pl-2">{{ text }}</small>
            </div>
          {% endfor %}
        </div>
        <div class="col-6">
          <img src="/images/banner-php-hosting.svg" alt="Banner" />
        </div>
      </div>
    </div>
  </div>
{% endblock %}